<footer class="footer">
  <div class="topic1">
    <h3>Institucional</h3>
    <ul>
      <li>Sobre nós</li>
      <li>Como comprar</li>
      <li>Seguranca</li>
      <li>Envio</li>
      <li>Pagamento</li>
      <li>Tempo de Garantia</li>
    </ul>
  </div>

  <div class="topic2">
      <h3>Contato</h3>
      <ul>
        <li>De segunda a sexta 8:30 às 18:00</li>
        <li>(43) 3037-5875 </li>
        <li>sac@boomerangue.com </li>
        <li>(43) 991117552</li>
      </ul>
    </div>


    <div class="topic3">
        <h3>Pagamento</h3>
        <ul>
          <li>Boleto</li>
          <li>Crédito</li>
          <li>Débito</li>
          <li>Carnê</li>
        </ul>
      </div>
</footer>
